.mod{
    width: 600px;
    height: inherit;
    /* background: #000; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    
}

@keyframes modFunction{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.mod-function{
    width: inherit;
    height: 400px;
    /* background: #ccc; */
    position: fixed;
    top: calc(var(--max-top) + 100px);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 50px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    /* justify-content: end; */
    animation: modFunction 2s ease-in-out;
    user-select: none;
}

.mod-function div{
    width: 80px;
    height: 80px;
    background: #ebebeb;
    /* background: #000; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease;
}

.mod-function div:hover{
    background: #f1f2f6;
    transform: translateY(-5px);
}

.mod-function div img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    pointer-events: none;
}

.mod-function div p{
    font-size: small;
    font-family: OS;
    pointer-events: none;
}

.add{
    background: rgb(204, 204, 204,0.5) !important;
}